:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vertical .bulb {
  width: 50px;
  height: 50px;
  margin: 10px 0;
}

.horizontal {
  display: flex;
}

.horizontal .bulb {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.bulb {
  border-radius: 50%;
  background-color: grey;
  transition: background-color 0.5s;
}

.bulb.red {
  background-color: red;
}

.bulb.yellow {
  background-color: yellow;
}

.bulb.green {
  background-color: green;
}

.traffic-button {
  background-color: orange;
  border: solid #000 1px;
  border-radius: 10px;
}